   
    .row.content {height: 550px}
    
  
    .sidenav {
      background-color: #e1e1e1;
      height: 100%;
    }
    
    /* Imported boilerplate from w3 - Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /*Enlarge the text of the meteorolgical reading outputs */
    .reading{
      font-size : 160%;
    }
    
    /* Imported boilerplate from w3 - On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;}
    }

    #button1{
      font-size: 200%;
      margin: auto;
      width : 100%;
      padding : 7px;
    }